<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wikilab.android.friendica01"
    android:versionCode="5"
    android:versionName="5.0" >

    
    <!--
    1.0a
    - Upload Photo From Intent
    1.0b
    - Timeline, Notifications, My Wall
    1.0c
    - Tablet layout
    - Menu with count of TL, Notif., Wall, Fr.Rq.
    - My Photo Albums (dummy)
    1.0d
    - Friends
    2.0
    - https support
    - Take Photo And Upload
    ...
    - beta implementation of profile pages	3.0
	- continuous loading
	- separate view for picture posts
	- beta implementation of post details pages
	4.0
	- update checker
	- tab layout for user profile pages on small screens (now with wall)
	- subheadings on user profile pages
	- added menu item for direct messages (non-functional atm)
	- better view of post details pages
	- - threaded
	- - clickable links in posts/comments
	- - larger font size for root post
	- - date/time of posts
	- - (non-funct.) buttons for like, dislike, delete)
	- debug: disable ssl cert checks
	5.0
	- clicking on notification takes you to post
	- like/dislike/star icons and count instead of buttons (still non-funct.)
	6.0
	- added MessageViewFragment to display list of messages
	- and MessageDetailActivity to display details of single message, esp. for html formatting and images
	- 
    -->


    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <application
        android:icon="@drawable/ic_friendika"
        android:label="@string/app_name" >

        <!-- SERVICES -->
        <service android:name=".FileUploadService" >
        </service>

        <!-- ACTIVIIES -->
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--        <activity
            android:name=".TimelineActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>        -->

        <activity
            android:name=".GenericContentActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PhotoGalleryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".MessageDetailActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".WritePostActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter android:label="@string/intf_fileupload2" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendicaImgUploadActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter android:label="@string/intf_fileupload2" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>